
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <link rel="stylesheet" href="~/Assets/css/paging.css">
</head>

<body style="color: #555555;">

    <section>
        <div style="margin-bottom: 30px;">
            <hr />
            <p style="font-family: Arial; margin-bottom: 40px;">
                <b>Trước khi đặt phòng, hãy kiểm tra những địa điểm bị hạn chế du lịch trong thời gian này.</b>
            </p>
            <div style="display: flex; justify-content: space-between;">
                <h3>@ViewBag.total_home homestay tại @ViewBag.place_name</h3>
                <div>
                    <select style="color: gray; padding: 5px; border-radius: 5px;"
                            class="form-select" aria-label="select example">
                        <option selected>Sắp Xếp:    Lựa Chọn</option>
                        <option value="1">Giá Tăng Dần</option>
                        <option value="1">Giá Giảm Dần</option>
                    </select>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row" style="margin-left: -0.05rem;">
            @foreach (var home in Model)
            {
                <a href="../Detail?home_id=@home.home_id" style="color: #555555;">
                    <div class="card" style="width: 17rem; border: none;">
                        <img style="width: 265px; height: 180px"
                             src="~/Assets/images/product/@home.image_intro" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="room">@home.home_type - @home.room_number phòng ngủ</p>
                            <svg style="margin-top: -30px; margin-left: -20px; color: #F65E39;"
                                 xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                                <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z" />
                            </svg><p style="margin-top: -38px;">*@home.home_name*</p>
                            @{
                                int price = home.price;
                                int million = price / 1000000;
                                int hundred = price % 1000000 / 1000;

                                if (million > 0)
                                {
                                    if (hundred > 0)
                                    {
                                        <p class="price_and_address">@million,@hundred,000đ/đêm - @home.place.place_name</p>
                                    }
                                    else
                                    {
                                        <p class="price_and_address">@million,000,000đ/đêm - @home.place.place_name</p>
                                    }
                                }
                                else
                                {
                                    <p class="price_and_address">@hundred,000đ/đêm - @home.place.place_name</p>
                                }
                            }
                        </div>
                        <a href="">
                            <!-- Favorite -->
                            <svg style="position: absolute; top: 190px; left: 240px; cursor: pointer;"
                                 xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg>
                        </a>
                    </div>
                </a>
            }

        </div>
    </section>

    <!-- PAGGING -->
    <nav aria-label="Page navigation example">
        @{
            int currentPage = ViewBag.pageIndex;
        }
        <ul class="pagination justify-content-center">
            @if (currentPage > 1)
            {
                int previous = currentPage - 1;
                <li class="page-item">
                    <a class="page-link" href="../Place?place_id=@ViewBag.place_id&total_home=@ViewBag.total_home&place_name=@ViewBag.place_name&pageIndex=@previous" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= ViewBag.totalPage; i++)
            {
                <li class="page-item">
                    @{
                        string active = "";
                        if (currentPage == i)
                        {
                            active += "active";
                        }
                    }
                    <a class="page-link @active" href="../Place?place_id=@ViewBag.place_id&total_home=@ViewBag.total_home&place_name=@ViewBag.place_name&pageIndex=@i">@i</a>
                </li>
            }
            @if (currentPage < ViewBag.totalPage)
            {
                int next = currentPage + 1;
                <li class="page-item">
                    <a class="page-link" href="../Place?place_id=@ViewBag.place_id&total_home=@ViewBag.total_home&place_name=@ViewBag.place_name&pageIndex=@next" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            }
        </ul>
    </nav>

</body>

</html>
