@using Luxstay.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>

<body>
    <h4 style="margin-top: 10px;">Đặt Chỗ Của Tôi</h4>
    <section style="margin-top: 20px">
        <div class="container">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Thông tin chi tiết</th>
                        <th scope="col">Ngày thuê</th>
                        <th scope="col">Ngày trả</th>
                        <th scope="col">Tổng tiền thuê</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.bookings != null)
                    {
                        foreach (Booking booking in ViewBag.bookings)
                        {
                            string date_check_in = String.Format("{0:dd/MM/yyyy}", booking.date_check_in);
                            string date_check_out = String.Format("{0:dd/MM/yyyy}", booking.date_check_out);

                            <tr>
                                <th scope="row"><a href="../Detail?home_id=@booking.home.home_id"><img src="~/Assets/images/product/@booking.home.image_intro" style="height: 100px; width: 150px;" /></a></th>
                                <th scope="row" style="vertical-align: middle;">
                                    <p class="room" style="margin-top: 10px;">@booking.home.home_type - @booking.home.room_number phòng ngủ</p>
                                    <svg style="margin-top: -30px; margin-left: -20px; color: #F65E39;"
                                         xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-lightning-fill" viewBox="0 0 16 16">
                                        <path d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5z" />
                                    </svg><p style="margin-top: -38px;">*@booking.home.home_name*</p>
                                    @{
                                        int price = booking.home.price;
                                        int million = price / 1000000;
                                        int hundred = price % 1000000 / 1000;

                                        if (million > 0)
                                        {
                                            if (hundred > 0)
                                            {
                                                <p class="price_and_address">@million,@hundred,000đ/đêm - @booking.home.address</p>
                                            }
                                            else
                                            {
                                                <p class="price_and_address">@million,000,000đ/đêm - @booking.home.address</p>
                                            }
                                        }
                                        else
                                        {
                                            <p class="price_and_address">@hundred,000đ/đêm - @booking.home.address</p>
                                        }
                                    }
                                </th>
                                <td style="vertical-align: middle;">@date_check_in</td>
                                <td style="vertical-align: middle;">@date_check_out</td>
                                @{
                                    int total_price = booking.total_price;
                                    int million_total = total_price / 1000000;
                                    int hundred_total = total_price % 1000000 / 1000;

                                    if (million > 0)
                                    {
                                        if (hundred > 0)
                                        {
                                            <td style="font-weight: bold; vertical-align: middle;">@million_total,@hundred_total,000 VNĐ</td>
                                        }
                                        else
                                        {
                                            <td style="font-weight: bold; vertical-align: middle;">@million_total,000,000 VNĐ</td>
                                        }
                                    }
                                    else
                                    {
                                        <td style="font-weight: bold; vertical-align: middle;">@hundred_total,000 VNĐ</td>
                                    }
                                }
                                <td style="vertical-align: middle;">
                                    <a class="btn btn-sm" type="submit" href="cancelBookingController?id=<%=s.getIdBooking()%>" style="background-color: #f65e38; color: white;">
                                        Huỷ Phòng
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>


        </div>
    </section>



</body>
</html>

